@page
@model HealthDeptApp.Pages.Establishments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Establishment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Establishment.Name" class="control-label"></label>
                <input asp-for="Establishment.Name" class="form-control" />
                <span asp-validation-for="Establishment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.OpenDate" class="control-label"></label>
                <input asp-for="Establishment.OpenDate" class="form-control" />
                <span asp-validation-for="Establishment.OpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.ClosedDate" class="control-label"></label>
                <input asp-for="Establishment.ClosedDate" class="form-control" />
                <span asp-validation-for="Establishment.ClosedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Establishment.HasLiquorLicense" /> @Html.DisplayNameFor(model => model.Establishment.HasLiquorLicense)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.EmployeeCount" class="control-label"></label>
                <input asp-for="Establishment.EmployeeCount" class="form-control" />
                <span asp-validation-for="Establishment.EmployeeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.Address" class="control-label"></label>
                <input asp-for="Establishment.Address" class="form-control" />
                <span asp-validation-for="Establishment.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.City" class="control-label"></label>
                <input asp-for="Establishment.City" class="form-control" />
                <span asp-validation-for="Establishment.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.State" class="control-label"></label>
                <input asp-for="Establishment.State" class="form-control" />
                <span asp-validation-for="Establishment.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.Zip" class="control-label"></label>
                <input asp-for="Establishment.Zip" class="form-control" />
                <span asp-validation-for="Establishment.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.Latitute" class="control-label"></label>
                <input asp-for="Establishment.Latitute" class="form-control" />
                <span asp-validation-for="Establishment.Latitute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.Longitude" class="control-label"></label>
                <input asp-for="Establishment.Longitude" class="form-control" />
                <span asp-validation-for="Establishment.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establishment.CategoryId" class="control-label"></label>
                <select asp-for="Establishment.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
