@page
@model CoreWiki.Pages.Christian_Moerlein_Brewing_CoModel
@{
    ViewData["Title"] = "Christian_Moerlein_Brewing_Co";
}

<h1>Christian Moerlein Brewing Co.</h1>

<a href="https://en.wikipedia.org/wiki/Christian_Moerlein_Brewing_Co.">
    https://en.wikipedia.org/wiki/Christian_Moerlein_Brewing_Co.
</a>
<hr />

<div>
    <span style="font-weight:bold">Christian Moerlein Brewing Co.</span> is a private beer company that began production in 1853 in <a href="https://en.wikipedia.org/wiki/Cincinnati,_Ohio">Cincinnati, Ohio</a>, by German immigrant Christian Moerlein. Before closing its doors in 1919 as result of prohibition, Christian Moerlein was among the ten largest American breweries by volume. In 1981, the brand was revived by the Hudepohl Brewing Company as a "better beer" a precursor to the craft beer category and is considered a pioneer craft beer of the craft beer movement. In 1999, Hudepohl-Schoenling Brewing Co. sold out to a group of out-of-towners, a sale that included the Christian Moerlein craft beer brand. In 2004, Greg Hardman, a Cincinnati resident, purchased Christian Moerlein, as well as 65 other historic Cincinnati brands, returning local ownership to Cincinnati in a move that included a plan to return Cincinnati's brewing traditions.
</div>
<p>
    In 2010, Hardman obtained the former Husman Potato Chip factory at 1621 Moore Street and the site of the pre-prohibition John Kauffman brewery's malt house and underground lager cellars. The location is blocks from the original site of the Christian Moerlein brewery in Over-the-Rhine. The first beer brewed in the new location was the Christian Moerlein Arnold's 1861 Porter, which was made available on New Year's Eve 2010 in recognition of the 150th anniversary of Cincinnati's longest continuously running bar, <a href="https://en.wikipedia.org/wiki/Arnold%27s_Bar_and_Grill">Arnold's Bar and Grill</a>. In March 2013, full production with all Christian Moerlein beers brewed in the historic brewery.
</p>
<p>
    In early 2012, Hardman led the effort to open the world-class Moerlein Lager House in Smale Riverfront Park adjacent to The Banks lifestyle development along the Ohio River and next to the Cincinnati Reds Great American Ballpark. All Moerlein beers at the Lager House are brewed on site with a limited number of unique seasonal beers making it to the market.
</p>
<h2>
    History
</h2>
<p>
    Christian Moerlein was a Bavarian immigrant born in Truppach, Bavaria, in 1818.[2] He traveled to America in 1841 after becoming an apprentice brewer and blacksmith. He settled in the neighborhood of Cincinnati Ohio known as Over-the-Rhine, a heavily populated neighborhood of mostly Germans and German-Americans. In 1853, Moerlein opened the Christian Moerlein Brewing Company.
</p>
<p>
    In its first year of production, the Christian Moerlein Brewing Company produced 1,000 barrels of beer.[3] Just over a decade later, 26,000 barrels were being produced annually.[3] When production reached its peak, Christian Moerlein beer was being shipped to places as far as Europe and South America and was the only Cincinnati beer exported internationally. In 1890, Moerlein also purchased the Nashville Brewing Company in Nashville, Tennessee,[4][5] which was managed by Moerlein's apprentice William Gerst, who "assumed sole operations" in 1893, changing the name to the William Gerst Brewing Company.[5] Moerlein died in 1897, but the Christian Moerlein Brewing Company continued until Prohibition began. The company never recovered from Prohibition, and the brewery sat idle until the brand was reintroduced in 1981 by the Hudepohl Brewing Company.
</p>
<p>
    The new Christian Moerlein Brewing Company is part of the craft beer movement. The Christian Moerlein Select Lager was the first American beer to certifiably pass the Reinheitsgebot, the Bavarian Purity Law of 1516.
</p>
<h2>
    The modern company
</h2>
<p>
    In 2004, the Christian Moerlein brand was purchased by Greater Cincinnati resident Greg Hardman. Over a period of five years, Hardman also acquired Hudepohl, Hudy Delight, Hudy 14-K, Burger, and Little Kings, the best-known of the Cincinnati brands. He purchased not only those, but 65 other long-forgotten brand names, such as Top Hat, Hauck, and Windisch-Muhlhauser, bringing many of the historical Cincinnati Brands under the same roof.[7] Since the purchase, Christian Moerlein has reintroduced several classic Cincinnati brands including Hudepohl and Burger.[8]
</p>
<p>
    In 2010, Hardman purchased the former Husman Potato Chip factory at 1621 Moore Street. The location is just blocks from the original site of Christian Moerlein brewery in Over-the-Rhine. The first beer brewed in the new location was the 1861 Porter, which was made available on New Year's Eve 2010, in recognition of the 150th anniversary of Cincinnati's longest continuously running bar, Arnold's Bar and Grill.[1]
</p>
<p>
    A Christian Moerlein Lager House restaurant was opened on the Banks development in February 2012.[9][10] This sits along the new Riverfront Park in Downtown Cincinnati and adjacent to Great American Ball Park, home of the Cincinnati Reds. The 15,000-square-foot (1,400 m2) site is two stories tall and has multiple beer gardens. Approximately 500 seats are inside and an additional 600 can be seated outside. A large beer garden adjoins an outdoor event lawn on the new Riverfront Park. The building serves as a restaurant and a working microbrewery. Food featured on the menu replicates 19th-century German cuisine prominent in Over-the-Rhine's historic beginnings.[citation needed] The site provides live entertainment.
</p>
<p>
    In 2013 the Christian Moerlein production brewery opened to full operations. It is in the site of the historic Kauffman Brewery and a former Husman Potato Chip factory. The brewery had the capacity to brew 15,000 barrels in its first year (2013) with plenty of additional space to add capacity.[11]
</p>
<p>
    Since Greg Hardman's ownership of Christian Moerlein Brewing Co., they have acquired all remaining brands of the Hudepohl-Schoenling Brewing Company and Moerlein is the first American craft brewery of the current era to rescue a city's heritage beer brands. The current Hudepohl-Schoenling Brewing Company is a subsidiary of the Christian Moerlein Brewing Co.
</p>
<p>
    Two of the modern company`s breweries are located close to the route of the new Cincinnati Streetcar.[12] In 2015 Brad Thomas, a member of the Southwest Ohio Regional Transit Authority board, convinced four different brewers with breweries near the streetcar's route to each brew a new specialty beer to honor the delivery of the first five vehicles. The two Christian Moerlein brews were the Christian Moerlein Tap Room and the Christian Moerlein Lager House.
</p>
<h2>
    Family of beers
</h2>
<table border="1">
    <thead>
        <tr>
            <th>Beer Title</th>
            <th>ABV%</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Barbarossa - year-round production</td>
            <td>5% ABV, 20 IBU</td>
            <td>A Bavarian double dark lager, the Barbarossa is slow-aged with a reddish-brown color and a malt aroma derived from Munich dark malt. Named in honor of Frederick I, emperor of Germany, known as Barbarossa.</td>
        </tr>
        <tr>
            <td>Saengerfest Lager - Late spring seasonal</td>
            <td>6.5% ABV</td>
            <td>A golden lager with malt notes and a clean hop finish. Its name refers to the Saengerfest choral celebrations that began in Cincinnati starting in 1849 and led to the construction of Cincinnati Music Hall in 1878.</td>
        </tr>
        <tr>
            <td>Fifth Vine Oktoberfest - Fall seasonal</td>
            <td>5.4% ABV, 19 IBU</td>
            <td>A marzen style lager with a lightly toasted character with a touch of sweetness and a deep copper color. This selection is a seasonal offering available only in the autumn months.</td>
        </tr>
        <tr>
            <td>Lager House - year-round production</td>
            <td>5.2%</td>
            <td>A Muncher-styled Helles, this golden colored lager features a slightly toasted, yet defined malt character, with a touch of hops for a clean finish. Made to the standard of the Reinheitsgebot Purity Law.</td>
        </tr>
        <tr>
            <td>Exposition Vienna Style Lager - year-round production</td>
            <td>5.4%</td>
            <td>A Vienna style lager recognizing the national events of the late nineteenth century that helped make Christian Moerlein Brewing Company a household name far and abroad with awards won at every Exposition. This pale copper lager has a rich malt flavor with a toasty character balanced by noble hops for a dry, clean finish. Moerlein Exposition is a toast to the past with a beer to be crowned wherever exhibited.</td>
        </tr>
        <tr>
            <td>Christkindl Ale - Winter seasonal</td>
            <td>7% ABV</td>
            <td>An unspiced winter-warmer, this beer is a large malt-bodied ale with the essence of chocolate sweetness and a spiciness that is achieved from the addition of Target and East Kent Golding hops. This selection is a seasonal offering available during the winter holiday season.</td>
        </tr>
        <tr>
            <td>Emancipator Doppelbock - Late winter/early spring seasonal</td>
            <td>7% ABV</td>
            <td>Brewed with six unique varieties of malts, this doppelbock boasts a toasted character with a deep brown color and hints of caramel and toffee. First brewed to commemorate the 75th anniversary of the repeal of prohibition.</td>
        </tr>
        <tr>
            <td>Northern Liberties IPA - year-round production</td>
            <td>6.3% ABV, 74 IBU</td>
            <td>Named after a section of old Cincinnati downtown north of Liberty street, prior to 1849 an area outside of municipal law known to for its tolerance of beliefs and behavior otherwise shunned in Cincinnati proper.</td>
        </tr>
        <tr>
            <td>Arnold's 1861 Nitro Porter - year-round production</td>
            <td>5.3%</td>
            <td>Opaque brown color, firm but pleasant malty aroma with definite licorice notes, pillowy nitro head, moderate to strong (but smooth) malty flavor with licorice and rock candy elements. Brewed in honor of Arnold's Bar and Grill in Cincinnati, Ohio's 150th anniversary. Only available on draft. First beer brewed by Moerlein in their Over-the-Rhine brewery.</td>
        </tr>
        <tr>
            <td>Zeppelin Bavarian Pale Ale - year-round production</td>
            <td>5.0%, 40 IBU</td>
            <td>This is a unique pale ale which uses a German/Czech Pilsner malt base to achieve a crisp, light, easy-drinking, and exceptionally dry beer.  The star of the show in this beer, however, is the Hersbrucker hops which is used in the dry-hop.  This hop lends a floral, almost potpourri-like aroma and flavor along with notes of grapefruit peel.</td>
        </tr>
        <tr>
            <td>OTR Ale - year-round production</td>
            <td>6%</td>
            <td>With a rich copper color, this ale is made with three separate malts and Cascade and Fuggle hops, and is named after the historic Over-the-Rhine neighborhood in Cincinnati, Ohio.</td>
        </tr>
    </tbody>
</table>

<h2>
    References
</h2>
<ol>
    <li>
    "Beer is brewing in historic Over-the-Rhine once again". UrbanCincy. 
    </li>
    <li>
        Tolzmann, Don Heinrich (Aug 22, 2011). German Cincinnati Revisited. Arcadia Publishing. p. 11.
    </li>
    <li>
        "Christian Moerlein". Ohio Historical Society.
    </li>
    <li>
        "Past Explored Through Bottle Exhibit", The Daily News-Journal
    </li>
</ol>