@page
@model CoreWiki.Pages.Hudepohl_Brewing_CompanyModel
@{
    ViewData["Title"] = "Hudepohl_Brewing_Company";
}

<h1>Hudepohl Brewing Company</h1>
<a href="https://en.wikipedia.org/wiki/Hudepohl_Brewing_Company">
    https://en.wikipedia.org/wiki/Hudepohl_Brewing_Company
</a>
<hr />

<p>
    <span style="font-weight:bold">Hudepohl Brewing Company</span> is a <a href="https://en.wikipedia.org/wiki/Brewery">brewery</a> established in <a href="https://en.wikipedia.org/wiki/Cincinnati,_Ohio">Cincinnati, Ohio</a> in 1885 by founder Ludwig Hudepohl II. Hudepohl was the son of Bavarian immigrants and had worked in the surgical tool business before starting his brewery. Hudepohl combined with Schoenling Brewing Company in 1986. Today, the <span style="font-weight:bold">Hudepohl-Schoenling Brewing Company</span> is a wholly owned subsidiary of Christian Moerlein Brewing Co..
</p>

<h2>History</h2>
<h3>
    Early history
</h3>

<p>
    Hudepohl Brewing Company became one of many Cincinnati breweries to thrive in the Queen City in the 1880s. Waves of German immigrants began settling in and around Cincinnati in the 1850s and '60s. These immigrants had a taste for the lager beer of their homeland and Cincinnati's German beer barons were only too willing to answer the demand. Hudepohl brewed golden lager, dark lager, seasonal bock beer and several other regional styles of lager that were popular in the German homeland. By the mid-1890s, Hudepohl's annual production was 100,000 barrels of beer.
</p>

<p>
    Hudepohl was among the top 5 brewers in Cincinnati when Prohibition hit the nation in 1918. Hudepohl survived Prohibition by making near beer and soft drinks. In 1933, Prohibition was repealed and Hudepohl quickly jumped back into the beer business. Within two years Hudepohl was clearly becoming the dominant brewer in Cincinnati. The company was selling all it could make in its home market and really didn't see an immediate need to "export" beer to other states. Deviating from this philosophy would come back to haunt Hudepohl and most other regional brewers in the decades to come. During World War II, Hudepohl Beer was among the beers selected by the War Department for use by U.S. troops in the Pacific. Special olive green Crowntainer cans, produced by Crown Cork and Seal Company, but bearing a Hudepohl label, were filled at the Cincinnati brewery then packed in cases with straw before being shipped overseas. Many cases of Hudepohl Beer were actually parachuted to troops on islands throughout the Pacific.
</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Hudepohl_billboard_Interstate_75_Cincinnati.JPG/320px-Hudepohl_billboard_Interstate_75_Cincinnati.JPG" alt="Hudepohl billboard" />

<h3>
    Expanding business
</h3>

<p>The post-war years were marked by continual expansion of Hudepohl Brewery. The company even purchased a second brewery from a local competitor and operated both plants for many years in order to keep up with demand. However, the late 1950s and early 1960s saw increased market infiltration from national brands such as Schlitz, Pabst, Blatz and Budweiser. Over time many of these brands along with strong regional competitors like Stroh's would whittle away at Hudepohl's dominance of the Cincinnati and Northern Kentucky market. Cincinnati breweries were slowly closing shop. Red Top Brewing Company closed in the late 1950s, the Bavarian Brewing Company, just across the Ohio River in Covington, Kentucky, closed in 1966. By 1973, Burger Brewing Company, a once dominant Cincinnati brand, announced its closure. Hudepohl stepped in and purchased the brands and recipes of Burger, which included Burger Beer, Bohemian Tap and Red Lion Malt Liquor. Burger Beer became Hudepohl's budget priced brand.</p>

<p>Hudepohl continued to fight market erosion caused by the influx of national brands. Hudepohl attempted to expand regionally but with only limited success. Had the company followed the lead of Anheuser-Busch and Pabst and struck out towards a national market in its early years it might have become a powerhouse.</p>

<h4>
    Hudepohl's Christian Moerlein
</h4>
<p>In 1981, Hudepohl introduced a new super-premium brand of beer called Christian Moerlein Cincinnati Select Lager. The brand was named after a popular pre-Prohibition Cincinnati brewer. The beer was more flavorful and had a deeper, richer golden color than most American beers of the time. Hudepohl intended to follow the lead of San Francisco's Anchor Steam brand into the specialty beer market. At the time, there were only a handful of specialty beers in the United States so Christian Moerlein was most often compared to imported European beers. The Moerlein brand proved popular, propelled by a $1 million initial advertising budget. Soon, Hudepohl introduced Christian Moerlein Doppel Dark beer as a companion brand. While the Moerlein brands were successful, they did not represent enough volume to save the Hudepohl Brewing Company. The company's primary brands, Hudepohl 14-K and Hudy Delight (introduced in 1978) were strong local beers but were losing increasing market share to Budweiser, Stroh's, Schlitz and Pabst. Wiedemann Beer, which was brewed across the river in Newport, Kentucky had been purchased by G. Heileman Brewing Company of La Crosse, Wisconsin in the early 1970s. Heileman's marketing muscle kept Wiedemann competitive and helped it become a major competitor to Hudepohl as well.</p>

<h3>
    Hard times at Hudepohl
</h3>
<p>
    Hudepohl celebrated its 100th anniversary in 1985, but business was down and company president, Bob Pohl, began looking for a buyer or merger partner. In 1986, Hudepohl was sold to crosstown rival, Schoenling Brewing Company, makers of Little Kings Cream Ale, Schoenling Lager, Top Hat Beer and Fehr's X/L (originally a Louisville brand that was purchased by Schoenling when Frank Fehr Brewing Company closed in the 1960s). For about a year the now combined Hudepohl-Schoenling Brewing Company continued to operate the Hudepohl plant on Gest Street while capacity was increased at the Schoenling plant at 1625 Central Parkway. In 1987, all beer production was moved to the Schoenling facility and the Hudepohl plant was closed. Most of the abandoned buildings still stand as of 2015, including a giant smokestack bearing the Hudepohl name.[2] The smokestack was demolished on June 16, 2019.
</p>
<p>
    Hudepohl-Schoenling operated in Cincinnati as an independent brewer until late 1997 when the brewery was sold to Boston Beer Company, brewers of Samuel Adams Beer. Hudepohl-Schoenling brands would continue to be brewed and packaged in Cincinnati under contract by Boston Beer Company, which had renamed the Schoenling Brewery "Samuel Adams Brewery." This arrangement continued until 2001 when the contract was not renewed by Boston Beer Company.
</p>
<p>
    Hudepohl-Schoenling continued to operate as a sales and marketing company for its many brands of beer, which included Little Kings Cream Ale, Hudy Delight, Hudy Gold, Christian Moerlein, Mt. Everest Malt Liquor, Burger and Burger Light. The company also produced a successful line of iced teas and juice drinks under the Tradewinds name. Hudepohl-Schoenling was also the importer and master distributor of Whitbread Pale Ale, Mackeson Stout and Cerveza Panama. The company also served as a master distributor for Anchor Steam Beer in Ohio, Kentucky and Tennessee. The rights to these brands went to Royal Imports, LLC of Cincinnati.
</p>
<p>
    In 1999, the Lichtendahl family, who dominated the Hudepohl-Schoenling ownership group, elected to exit the beer business. They retained the Tradewinds iced tea and juice drink line, but sold the domestic beer brands to Cleveland based Crooked River Brewing Company, which eventually became Snyder International Brewing Group. Snyder International also purchased Frederick Brewing Company of Frederick, Maryland in 1999. The Frederick brewery was underutilized and so production of bottled and draft Hudepohl-Schoenling brands shifted to the Frederick brewery. Since Frederick had no canning facility, production of Hudy Delight, Burger Beer and Burger Light in cans was shifted to City Brewery in La Crosse, Wisconsin under a special contract arrangement.
</p>
<h3>
    Return to Brewing
</h3>
<p>
    In March 2004, Gregory Hardman, a greater Cincinnati resident and successful beverage industry veteran, purchased the brands and recipes of Christian Moerlein from Snyder International Beverage Group bringing back the local ownership to Cincinnati. At that time, he also obtained a first right of refusal from Snyder for all other brands, recipes and trademarks of the Hudepohl-Schoenling brewing company should they ever be sold in the future. On May 1, 2006, Mr. Hardman’s Christian Moerlein Brewing Company and a private investment group purchased all remaining brands and recipes of the Hudepohl-Schoenling Brewing Company.
</p>

<p>
    As of 2014 all Hudepohl beers sold in the Christian Moerlein tap room are brewed in the Christian Moerlein brewery on Moore Street in Cincinnati. In 2015, Hudepohl changed the formula of its Hudy Amber Lager beer, rebranded it as Hudepohl Pure Lager, and moved its brewing back to Cincinnati.
</p>
<h2>
    Current Hudepohl-Schoenling Beers
</h2>

<ul>
    <li>Hudepohl Pure Lager</li>
    <li>Hudy 14-K</li>
    <li>Hudy Delight</li>
    <li>Hudepohl Classic Porter</li>
    <li>Hudepohl Festival Bock (seasonal)</li>
    <li>Hudepohl Summer Pils (seasonal)</li>
    <li>Hudepohl Oktoberfest Bier (seasonal)</li>
    <li>Little Kings Cream Ale</li>
    <li>Bürger Classic</li>
    <li>Bürger Light</li>
</ul>

<h2>
    Pop Culture
</h2>
<p>
    <a href="https://en.wikipedia.org/wiki/Harper_Valley_PTA_(film)">Harper Valley PTA</a> - multiple cans shown in opening scene
</p>
<h2>
    References
</h2>
<ol>
    <li> Grace, Kevin (Jan 4, 2012)</li>
    <li> Knight, Cameron (30 September 2015)</li>
    <li> Boyer, Mike (July 21, 2001).</li>
    <li> Brownfield, Andy (13 October 2015).</li>
</ol>