@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cincy Breweries</h1>
    <p>Learn about 3 Cincinnati Breweries!</p>
    <table border="1" align="center">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Localhost Page</th>
                <th>Wikipedia Page</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Rhinegeist</td>
                <td><a href="http://localhost:62716/Rhinegeist">Rhinegeist</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Rhinegeist">Rhinegeist</a></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>2</td>
                <td>Hudepohl Brewing Company</td>
                <td><a href="http://localhost:62716/Hudepohl_Brewing_Company">Hudepohl Brewing Company</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Hudepohl_Brewing_Company">Hudepohl Brewing Company</a></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>3</td>
                <td>Christian Moerlein Brewing Co.</td>
                <td><a href="http://localhost:62716/Christian_Moerlein_Brewing_Co">Christian Moerlein Brewing Co.</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Christian_Moerlein_Brewing_Co.">Christian Moerlein Brewing Co.</a></td>
            </tr>
        </tbody>
    </table>
</div>
