@page
@model CoreWiki.Pages.RhinegeistModel
@{
    ViewData["Title"] = "Rhinegeist";
}

<h1>Rhinegeist</h1>
<a href="https://en.wikipedia.org/wiki/Rhinegeist">
    https://en.wikipedia.org/wiki/Rhinegeist
</a>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/79/Rhinegeist_logo_ltbg.svg/281px-Rhinegeist_logo_ltbg.svg.png" alt="Rhinegeist Logo">

<p>
    <strong><em>Rhinegeist Brewery</em></strong> (translates to "Ghost of the Rhine") is a <a href="https://en.wikipedia.org/wiki/Microbrewery">craft brewery</a> based in
    <a href="https://en.wikipedia.org/wiki/Cincinnati">Cincinnati</a>, <a href="https://en.wikipedia.org/wiki/Ohio">Ohio</a>. The brewery's 25,000 square feet (2,300 m2) taproom
    and production facility is located in Cincinnati's <a href="https://en.wikipedia.org/wiki/Over-the-Rhine">Over-the-Rhine</a> neighborhood, and occupies the former,
    pre-<a href="https://en.wikipedia.org/wiki/Prohibition_in_the_United_States">Prohibition</a> bottling plant of <a href="/wiki/Christian_Moerlein_Brewing_Co.">Christian Moerlein Brewing Co</a>
    Rhinegeist operates an additional shipping, storage and innovation brewing facility in Cincinnati's <a href="/wiki/Camp_Washington,_Cincinnati">Camp Washington</a> neighborhood.
</p>

<p>
    As of 2018, Rhinegeist was the 28th largest independent craft brewery in the <a href="https://en.wikipedia.org/wiki/United_States">United States</a> and the 2nd largest in
    <a href="https://en.wikipedia.org/wiki/Ohio">Ohio</a> by sales volume. Rhinegeist currently distributes its products in Ohio, <a href="https://en.wikipedia.org/wiki/Kentucky"> Kentucky</a>,
    <a href="https://en.wikipedia.org/wiki/Massachusetts">Massachusetts</a>, <a href="https://en.wikipedia.org/wiki/Indiana"> Indiana</a>, <a href="https://en.wikipedia.org/wiki/Pittsburgh"> Pittsburgh, Pennsylvania</a> and
    <a href="https://en.wikipedia.org/wiki/Nashville,_Tennessee">Nashville, Tennessee</a>. The brewery self-distributes in Cincinnati and <a href="https://en.wikipedia.org/wiki/Columbus,_Ohio">Columbus, Ohio</a>.
    Rhinegeist's annual beer production was 100,302 <a href="https://en.wikipedia.org/wiki/Barrel_(unit)">US beer barrels</a> (117,702 hL) in 2018.
</p>

<h2>History</h2>

<h3>Origins</h3>

<p>
    Rhinegeist was founded by Bob Bonder and Bryant Goulding, who first met in 2005 when working together as business consultants in San Francisco.
    After Bob moved to Cincinnati in 2007, he called Bryant in August 2011 with an idea for a brewery in the city, which he thought was "a vacuum for locally brewed craft beer."
    After planning for several months, Bryant moved to Cincinnati in July 2012. Searching for a brewer, the duo found Jim Matt, a pharmaceutical chemist and
    <a href="https://en.wikipedia.org/wiki/Homebrewing">homebrewing</a> hobbyist.
    They tasted some of his homebrews, including two that would later evolve into Rhinegeist's Uncle and Truth beers, and decided to bring him on board.
    After securing funding from local investors, they leased a 25,000-square-foot (2,300 m2) building in Over-the-Rhine that had formerly served as Christian Moerlein
    Brewing's packaging hall. Construction work began in January 2013 and lasted until mid-2013.
</p>

<h3>Opening and early local success</h3>

<p>
    Rhinegeist officially opened its doors to the public on June 29, 2013. Their lineup on opening day consisted of Uncle, Spikelet, Cougar, and Truth, which are a British mild ale, a hoppy wheat beer, a blonde ale, and an IPA respectively. They served around 2,500 customers on that day. They began opening their brewery taproom every Thursday through Sunday and distributing to local bars. By mid-July, they were distributing to about eight bars and were near the upper limit of their production capacity.
</p>
<p>
    Rhinegeist began selling its beer in cans in February 2014, starting with Cougar and Truth. They added a third beer, a session pale ale called Zen, to their can lineup in May. The cans were available in five Kroger supermarkets by July, and in 65 by September. In December, they announced plans to expand to Kentucky with a new distribution facility in Erlanger. Market research firm IRI reported that Rhinegeist was the top new craft beer vendor of 2014 in U.S. supermarkets, based on $782,539 in supermarket sales. The brewery sold nearly 11,000 barrels of beer in 2014.
</p>
<p>
    By late 2014, the brewery and its founders started receiving national attention. In September 2014, Bryant Goulding was credited by GQ as a craft beer expert. In November 2014, Rhinegeist's Truth IPA was named to a list of the 100 best beers in the world by Men's Journal.
</p>

<h3>Regional expansion</h3>
<img src="https://en.wikipedia.org/api/rest_v1/page/graph/png/Rhinegeist/0/1648283171501c0f67c0fd8228d7f3fd699d280a.png" />
<p>
    In March 2015, the brewery announced plans to install a new brewing system that would enable them to triple their production rate and expand into the Columbus market. In May 2015, they announced plans to open a 17,000-square-foot (1,600 m2) small-scale brewing facility in Columbus. They also expanded into hard ciders with the introduction of their new Cidergeist product line. They launched their first two ciders in their taproom in July before distributing them broadly to markets and restaurants in October. By the end of 2015, they were selling beer and cider in Cincinnati, Dayton, Columbus, and parts of Kentucky, and IRI reported they had sold 31,470 barrels that year.
</p>
<p>
    Rhinegeist continued to expand its market reach over the years that followed. Rhinegeist arrived in Cleveland and Boston in fall of 2016. This was followed by Pittsburgh in March 2017, Indiana in July 2017, and Nashville in February 2019. According to founder Bryant Goulding, the company focuses its expansion on individual cities that are close to their existing markets, as a majority of their beer is self-distributed and must be delivered from their fleet of vans for freshness.
</p>
<p>
    The brewery's production and sales volume increased with the market growth. Their annual production increased to 56,500 barrels in 2016, 86,242 barrels in 2017, and 100,302 barrels in 2018. In 2017, Rhinegeist was 33rd in 2017 on the Brewers Association's list of the largest craft brewing companies by sales volume, and in 2018, they moved up to 28th on the list.
</p>
<p>
    As Rhinegeist's availability was growing on a national level, so too was its popularity. In February 2016, Rhinegeist earned second place in a USA Today Readers' Choice New Breweries poll. In March 2017, Forbes called Rhinegeist "arguably one of the hippest beer brands in the country." In April 2019, they were included on Thrillist's "32 Hottest Breweries in America Right Now."
</p>

<h2>Products</h2>
<p>Rhinegeist offers three beers, three fruited ales and two ciders in cans year-round. Additionally, each year the brewery releases dozens of seasonal and limited canned, bottled and draft-only products. To date, it has released over 200 different beers and ciders.</p>

<h4><strong>Year-round products</strong></h4>
<ul>
    <li>Truth (IPA) — recognized as one 100 best beers in the world by Men's Journal.</li>
    <li>Knowledge (Imperial IPA)</li>
    <li>Cheetah (Lager)</li>
    <li>Bubbles (Rosé Ale)</li>
    <li>Little Bubs (Session Rosé Ale)</li>
    <li>Wowie (Ale with Pineapple and Passionfruit)</li>
    <li>Semi Dry (Cider)</li>
    <li>Swizzle (Cider)</li>
</ul>

<h2>Location</h2>

<p>
    Rhinegeist's main brew hall and taproom are located in a 25,000 square feet (2,300 m2) facility in the Over-the-Rhine neighborhood of Cincinnati. The taproom is open seven days a week and is open to all ages, offering games such as corn hole. In late 2015, Rhinegeist opened a rooftop bar at the facility which is restricted to patrons 21 or older. Rhinegeist's brew hall can also be rented out for private events; in the brewery's first five years, it hosted more than 250 weddings and more than 750 events.
</p>
<p>
    In May 2018, Cincinnati Museum Center opened an exhibit of a Galeamopus dinosaur skeleton in Rhinegeist's brew hall. On May 29, 2018, Rhinegeist hosted the announcement event for a FC Cincinnati's expansion franchise in Major League Soccer.
</p>

<h2>Rare Beer Fest</h2>
<p>
    Rhinegeist hosts an annual, invitational beer festival called Rare Beer Fest. Participating breweries are asked to bring their rarest products, which are sampled by ticket holders over the course of two sessions. Past participating breweries include 21st Amendment Brewery, Allagash Brewing Company, Bell's Brewery, Brooklyn Brewery and Mikkeller.
</p>

<h2>References</h2>
<ol>
    <li>Hussein, Deqah (2016). Reappropriating the Rundbogenstil: Supporting Community Revitalization through the Adaptive Reuse of a Historic German Brewery in Cincinnati, Ohio. Ann Arbor: University of Cincinnati. pp. 62–75.</li>
    <li>Fitzgerald, Patrick (Spring 2016). "Understanding the Emerging Trend in the Craft Beverage Market". OhioLINK Electronic Theses and Dissertations Center.</li>
    <li>"Rhinegeist to celebrate fifth anniversary". Akron Beacon Journal. June 14, 2018. Retrieved November 20, 2018.</li>
    <li>"Cincinnati-based Rhinegeist Brewery Plans Big Week of Launch Events". Nashville Scene. March 4, 2019. Retrieved March 5, 2019.</li>
</ol>