@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="alert alert-danger" style="margin-top: 20px;">
    <p>
        In order to generate the sample data run the web application <i class="fa fa-cocktail"></i>
        from the Package Manager Console with command <br />
        <code>dotnet run seed --environment production --project HealthDeptApp</code><br />
    </p>
</div>


