@page
@model ResumeBook.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<!DOCTYPE html>
<html>
<head>
    <style>

        table, th, td {
            border-collapse: collapse;
        }



        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>



    <h2>ResumeBook.inc</h2>



    <table style="width:100%">
        <p>
            We are a Team of highly motivated Entrepreneur’s. Our Company was founded in 1990.
            We Strive to make our customers happy. ResumeBook is our disruptive service provided across platforms globally.
            With the help of innovation and technology we always stay ahead of our competitors.
            We will rule the tech world for another 50 years because of our talented team.
            ResumeBook always gets the right talent to right place.



        </p>



    </table>



    <h2>Our Team</h2>



    <table style="width:100%">
        <tr>



            <td>
                <img src="https://media.licdn.com/dms/image/C5103AQH2kMLHoFse-A/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=HJSEeWfpHN8Xmd2PWlYl_eIy9AGprqBORxm4g4cl_7U" width="200" height="350" alt="Shubham" />
            </td>

            <th>Shubham Das</th>




            <td>
                <ul>
                    <li>
                        Designation: CTO
                    </li>
                    <li>
                        Email:shubhamid@gmail.com
                    </li>



                    <li>
                        Contact: 513 652 3541
                    </li>
                    </ul>
            </td>
        </tr>
        <tr>



            <td>
                <img src="https://media.licdn.com/dms/image/C5103AQHxAqVlfoZicQ/profile-displayphoto-shrink_200_200/0?e=1576108800&v=beta&t=oW4_XmQ_QRP3lkBTRVz0VbU2cupjO4aTB1AenBVPhLU" width="200" height="350" alt="Saurav" />
            </td>
            <th>Saurav Gupta</th>
            <td>
                <ul>
                    <li>
                        Designation: Intern
                    </li>
                    <li>
                        Email: saurav.gupta@gmail.com
                    </li>


                    <li>
                        Contact: 513 652 6520
                    </li>
                </ul>
            </td>
    </table>



</body>
</html>