@page
@model ResumeBook.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h1>Getting Started</h1>




<html>
<body>



    <table>
        <tr>
            <td>
                <h3> Below you'll find the required assistance to navigate through the Website </h3>
            </td>
            <td>
                <img src="http://tricountyri.org/wp-content/uploads/2017/09/iStock-453988015-300x225.jpg" width="550" height="400" alt="Winter" />
            </td>
        </tr>
    </table>
    <hr>



    <h2> Data Driven Features</h2>



    <table>
        <tr>
            <td>
                <img src="~/lib/images/administration.png" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3> Administration </h3>
                <p>
                    An Administator maintains and provides the list of candidates.
                    Administrator can perform all the CRUD activies i.e Create, update, Delete and retrive data from database.

                </p>

                   <p> URL: /Administration</p>
            </td>



        </tr>
    </table>
    <hr>



    <table>
        <tr>
            <td>
                <img src="~/lib/images/viewprofile.png" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3> View Candidate Profile </h3>
                <p>
                    Recruiters get the functionality to view candidates profile consisting of all the data like projects, experiences and educations.
                    The first step towards selecting the right candidate.

                </p>
                   <p> URL: /ViewProfile?id=enter-id-here</p>

            </td>



        </tr>
    </table>
    <hr>



    <table>
        <tr>
            <td>
                <img src="~/lib/images/javalanguage.png" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3> View Candidates by Language</h3>
                <p>
                    At time there can be requirement of special skillset such as recruiter may want to select candidates based on language.
                    Hence this functionality allows them to do so.

                </p>

                    <p>URL : /CandidateCompanies?=enter language here</p>

            </td>



        </tr>
    </table>
    <hr>



    <table>
        <tr>
            <td>
                <img src="~/lib/images/allstudentscontact.png" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3> Student Contact Details</h3>
                <p>
                    Contact details of all the students. With the help of this Recruiters can broadcast messages.
                </p>

                    <p>URL: /StudentContactDetails</p>

            </td>



        </tr>
    </table>
    <hr>




    <h2> Custom Forms</h2>



    <table>
        <tr>
            <td>
                <img src="~/lib/images/updatephno.png" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3> Update Phone Number</h3>
                <p>
                    With the help of this custom form. Student can update there contact info, incase they have changed their contact details in future.
                </p>

                <p>URL: UpdatePhoneNumberModel?id=enter-id-here</p>

            </td>



        </tr>
    </table>
    <hr>



    <table>
        <tr>
            <td>
                <img src="~/lib/images/updateeducation.png" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3>Update Current Education</h3>
                <p>
                    Students update current college or university in this functionality.



                </p>
                <p>URL : UpdateCurrentEducationForm?id=enter-id-here</p>
            </td>



        </tr>
    </table>
    <hr>



    <table>
        <tr>
            <td>
                <img src="~/lib/images/updatelang.png" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3> Update Project Language</h3>
                <p>
                    Update the language for the Project here
                </p>
                <p>URL : UpdateProjectLanguageForm?id=enter-id-here</p>
            </td>



        </tr>
    </table>
    <hr>



</body>
</html>