@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>A Book for the Recruiters on Campus</h1>



<html>
<body>



    <table>
        <tr>
            <td>
                <h3>A Website where we provide platform for Career Fair </h3>
            </td>
            <td>
                <img src="http://osu-wams-blogs-uploads.s3.amazonaws.com/blogs.dir/277/files/2014/02/career-fair-photo.png" width="550" height="400" alt="Winter" />
            </td>
        </tr>
    </table>
    <hr>




    <table>
        <tr>
            <td>
                <img src="https://s3-ap-southeast-1.amazonaws.com/images.humanresourcesonline.net/wp-content/uploads/2016/03/Mar-17-anthony-multi-talent-shutterstock-e1458178004612-700x421.jpg" width="550" height="400" alt="Winter" />
            </td>
            <td>
                <h3> <i>Finding the right <b>talent</b> for your firm always</i></h3>
            </td>



        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td>
                <h3> <i>Our Sources are trustworthy & we provide accurate data </i></h3>
            </td>
            <td>
                <img src="https://cdn2.hubspot.net/hubfs/363516/iStock-904150194-620350-edited.jpg" width="550" height="400" alt="Winter" />
            </td>
        </tr>
    </table>



    <!DOCTYPE html>
    <html>
    <head>

    </head>
    <body>



        <h2>Live Update from the DataBase</h2>
        <p>Statistical data </p>



        <table style="width:100%">
            <tr class="bg-info">
                <th>Description</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Number of Candidates</td>
                <td>@Model.CountOfStudents</td>
            </tr>
            <tr>
                <td>Number of Java Projects</td>
                <td>@Model.CountOfProjects</td>
            </tr>
        </table>



    </body>
</html>





</body>
</html>