@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Destinations!</h1>
    <p>Browse through a number of cities throughout the world!.</p>
    <img src="https://popupcity.net/wp-content/uploads/2009/05/Top-20-of-the-worlds-best-city-icons.jpg" alt="cities-world" />

</div>
<ul class="box-shadow alert-dismissible">
    <div class="font-weight-bold"> Sample Country Profiles</div>
    <li><a href="/CountryProfile?id=2">Russia Profile</a></li>
    <li><a href="/CountryProfile?id=1">Brazil Profile</a></li>
</ul>
    <ul class="shadow">
        <div class="font-weight-bold"> Statistics</div>
        <li>Count Of Destinations= @Model.CountOfDestinations</li>
        <li>Count Of Overnight Stays= @Model.CountOfOvernightStays</li>
    </ul>
