@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Destinations!</h1>
    <p>Browse through a number of cities throughout the world!.</p>
    <img src="https://popupcity.net/wp-content/uploads/2009/05/Top-20-of-the-worlds-best-city-icons.jpg" alt="cities-world" />
</div>
