@page
@model CoreCrud.Pages.Destinations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Destination</h1>

<h4>Destination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Destination.DestinationName" class="control-label"></label>
                <input asp-for="Destination.DestinationName" class="form-control" />
                <span asp-validation-for="Destination.DestinationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.ArrivalTime" class="control-label"></label>
                <input asp-for="Destination.ArrivalTime" class="form-control" />
                <span asp-validation-for="Destination.ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Destination.OvernightStay" /> @Html.DisplayNameFor(model => model.Destination.OvernightStay))
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Destination.AverageTemp" class="control-label"></label>
                <input asp-for="Destination.AverageTemp" class="form-control" />
                <span asp-validation-for="Destination.AverageTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.CityAgentEmailAddress" class="control-label"></label>
                <input asp-for="Destination.CityAgentEmailAddress" class="form-control" />
                <span asp-validation-for="Destination.CityAgentEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.CityAgentCellPhone" class="control-label"></label>
                <input asp-for="Destination.CityAgentCellPhone" class="form-control" />
                <span asp-validation-for="Destination.CityAgentCellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.CityInstagramProfile" class="control-label"></label>
                <input asp-for="Destination.CityInstagramProfile" class="form-control" />
                <span asp-validation-for="Destination.CityInstagramProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.LocationId" class="control-label"></label>
                <select asp-for="Destination.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
