@page
@model CoreCRUD.Pages.Destinations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Destination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Destination.ID" />
            <div class="form-group">
                <label asp-for="Destination.DestinationName" class="control-label"></label>
                <input asp-for="Destination.DestinationName" class="form-control" />
                <span asp-validation-for="Destination.DestinationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.ArrivalTime" class="control-label"></label>
                <input asp-for="Destination.ArrivalTime" class="form-control" />
                <span asp-validation-for="Destination.ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Destination.OvernightStay" /> @Html.DisplayNameFor(model => model.Destination.OvernightStay)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Destination.AverageTemp" class="control-label"></label>
                <input asp-for="Destination.AverageTemp" class="form-control" />
                <span asp-validation-for="Destination.AverageTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.Country" class="control-label"></label>
                <input asp-for="Destination.Country" class="form-control" />
                <span asp-validation-for="Destination.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination.CountryId" class="control-label"></label>
                <select asp-for="Destination.CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="Destination.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
