@page
@model HealthDeptApp.Pages.HealthCodes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>HealthCode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HealthCode.Position" class="control-label"></label>
                <input asp-for="HealthCode.Position" class="form-control" />
                <span asp-validation-for="HealthCode.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthCode.Category" class="control-label"></label>
                <input asp-for="HealthCode.Category" class="form-control" />
                <span asp-validation-for="HealthCode.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthCode.CategoryPosition" class="control-label"></label>
                <input asp-for="HealthCode.CategoryPosition" class="form-control" />
                <span asp-validation-for="HealthCode.CategoryPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthCode.Regulation" class="control-label"></label>
                <input asp-for="HealthCode.Regulation" class="form-control" />
                <span asp-validation-for="HealthCode.Regulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
